@scope (.foo) {
  div:scope {
    --background: var(--color-black);
    --bg-color: var(--background);
    --border: 1;
    --test-test: true;
    --p: var(--spacing-0);
    --pl: var(--p);
    --pr: var(--p);
    --pb: var(--p);
    --pt: var(--p);
    --py: var(--pt) var(--pb);
    --px: var(--pl) var(--pr);
    --padding: var(--py) var(--px);

    font-size: 1rem;
    padding: var(--padding);

    &[data-foo-size='lg'] {
      font-size: 1.5rem;
    }

    &[data-foo-size='sm'] {
      font-size: 0.75rem;
    }

    &[data-x] {
      color: red;
    }
  }
}

@scope (.bar) {
  span:scope {
    &[data-bar-size='lg'] {
      font-size: 1.5rem;
    }

    &[data-x] {
      border-color: red;
    }
  }
}

@scope (.baz) {
  p:scope {
    font-size: 1rem;
  }
}
