@scope (.foo) {
  div:scope {
    --font-size: var(--font-size-base);
    --font-weight: var(--font-weight-normal);
    --font-style: var(--font-style-normal);
    --font-family: var(--font-family-sans);
    --font: var(--font-style) var(--font-weight) var(--font-size) var(--font-family);
    --a: var(--color-red);
    --b: var(--a);
    --c: var(--b);
  }
}
