@scope (.foo) {
  div:scope {
    /* Global Props */
    --color: var(--color-neutrals-1);
    --font-size: var(--font-size-xl);

    &[data-variant='danger'] {
      --color: var(--color-danger-text);
    }
  }
}
